/* Background image covering entire screan */
html { 
    height: 250%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to right bottom, teal, black);
    background: -moz-linear-gradient( to right bottom, teal, black);
    background: -ms-linear-gradient( to right bottom, teal, black);
    background: -o-linear-gradient( to right bottom, teal, black);
    background: linear-gradient( to right bottom, teal, black);
}

/* Text box in about page for 'Who am I' content */
#AboutMe {
    resize: none;
    position: absolute;
    border-radius: 50px;
    left: 100px;
    top: 50px;
    background-color: rgb(177, 252, 244);
}

/* Text box in about page for 'Coding Experience' content  */

#Cdg {
    resize: none;
    position: absolute;
    border-radius: 50px;
    right: 100px;
    top: 50px;
    background-color: rgb(177, 252, 244);
}

/* Text box in about page for '5 wishes for the future' content */
#Wish {
    resize: none;
    position: absolute;
    border-radius: 50px;
    left: 100px;
    top: 1250px;
    background-color: rgb(177, 252, 244);
}

/* Text box in about page for 'Achievements' content */
#Achieve {
    resize: none;
    position: absolute;
    border-radius: 50px;
    right: 100px;
    top: 1250px;
    background-color: rgb(177, 252, 244);
}

/* Text positioning and styling for 'Who am I' content */
#TBoxAbt {
    position: absolute;
    left: 270px;
    top: 75px;
}
/* Text positioning/styling for 'Coding Experience' content */
#TBoxCdg {
    position: absolute;
    right: 205px;
    top: 75px;
}

/* Text positioning/styling for '5 wishes for the future' content */
#TBoxWsh {
    position: absolute;
    left: 187px;
    top: 1270px;
}

/* Text positioning/styling for 'Accomplishments' content */
#TBoxAch {
    position: absolute;
    right: 212px;
    top: 1270px;
}
/* Font families to use */

.myriad {
    font-family:"Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

/* Divs and Wraps */

.gradWrap {
    position: absolute;
    border-radius: 50px;
    background: linear-gradient(to left, rgb(180, 0, 255), rgb(29, 2, 41));
    padding: 17px;
    height: 575px;
    width: 450px;
}
